body {
  font-family: Arial;
  margin: 0;
  background-color: black;
  color: rgb(202, 202, 202);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#logo_ID {
  float: left;
  height: 2rem;
  margin: 2%;
  border: 1px solid #50af7b;
}

#logolink {
  margin-left: 20%;
}

body h1 {
  color: rgb(189, 82, 82);
  font-size: 3vw;
  letter-spacing: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration-line: underline;
  text-underline-position: under;
  margin-left: 4%;
  margin-top: 0%;
}
.content {
  color: rgb(133, 128, 128);
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 7%;
  padding-top: 6%;
  width: 50%;
}
.contenttwo {
  color: rgb(3, 3, 3);
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 7%;
  padding-top: 6%;
  width: 50%;
}
.contentthree {
  color: rgb(202, 202, 202);
  font-size: 2vw;
  float: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 7%;
  padding-top: 6%;
  width: 50%;
}

#bodyquote {
  text-indent: 80px;
  color: rgb(202, 202, 202);
  font-size: 1.5vw;
  width: 60%;
}
#bodyquotetwo {
  text-indent: 80px;
  color: rgb(3, 3, 3);
  font-size: 1.5vw;
  width: 60%;
}
#bodyquotethree {
  text-indent: 80px;
  color: rgb(202, 202, 202);
  font-size: 1.5vw;
  width: 60%;
}
.bodyone {
  padding: 2%;
  background-image: url("img_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  position: static;
  margin: 0 1% 1% 1%;
}
.bodytwo {
  padding: 2%;
  background-image: url("img_two.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  position: static;
  margin: 0 1% 1% 1%;
}
.bodythree {
  padding: 2%;
  background-image: url("img_three.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  position: static;
  margin: 0 1% 1% 1%;
}

.Navbar {
  overflow: hidden;
  background-color: black;
  align-self: auto;
}

.navlinks {
  float: left;
  color: #f2f2f2;
  margin: 1% 2%;
  padding: 6px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.Navbar a:hover {
  background-color: rgba(255, 255, 255, 0.295);
  color: black;
  transition: 0.3s linear;
}

.Navbar a.active {
  background-color: #50af7b;
  color: white;
}
.navbarright a {
  float: right;
}
